<!-- Custom styles for this template -->
<link href="../css/dashboard.css" rel="stylesheet">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Users</a>
        </div>
        <div class="right" ng-app="privateChat" ng-controller="users">
            <a class="right-a center" ng-click="logout()">Logout</a>
            <a class="navbar-brand right-a">{{username}}</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div ng-app="privateChat" ng-controller="users">
                <ul class="list-group">
                    <button type="button" class="list-group-item" ng-repeat="(name, unread) in users"
                            ng-click="selectUser(name)">
                        <span class="label label-default label-pill pull-xs-right">{{unread}}</span>
                        {{name}}
                    </button>
                </ul>
            </div>
        </div>

        <div ui-view class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"></div>
    </div>
</div>